@import '../../sass/main.scss';

.presentation {
    @include flex(column, center, center);
    position: absolute;
    &_text {
        font-size: 20px;
        position: relative;
        top: 50px;
    }
    &_block {
        @include flex(row, center, center);
        position: relative;
        bottom: -240px;
    }
}
