@import '../../sass/main.scss';

.button {
    width: 200px;
    height: 100px;
    font-size: 24px;
    background-color: $color-primary;
    color: white;
    position: relative;
    bottom: -400px;
    border-radius: 25px;
    cursor: pointer;
}
