@import '../../sass/main.scss';

.join {
    height: 400px;
    position: relative;
    top: 100px;
    &_me {
        @include flex(column, center, center);
        position: relative;
        gap: 30px;
        top: 30px;
        &_logo {
            width: 40px;
        }
        &_text {
            font-size: 22px;
        }
    }
}

.call,
.mail,
.linked {
    width: 500px;
    @include flex(row, space-around, center);
}
