@import '../../sass/main.scss';

.join {
    position: relative;
    top: 100px;
    &_me {
        @include flex(column, center, center);
        position: relative;
        top: 30px;
        &_logo {
            width: 40px;
        }
    }
}

.call,
.mail,
.linked {
    width: 500px;
    @include flex(row, space-evenly, center);
}
