.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top:2%;
}

.content_single {
    width:30%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5AD24;
    border-radius: 25px;
}

.quisuisje, .myway, .myworks {
    font-size: 20px;
    color:black;
}