@import '../../sass/main.scss';

.nav {
    @include flex(row, space-evenly, center);
    width: 5 800px;
    &_list {
        list-style: none;
        @include flex(row, space-between, center);
        width: 800px;
        &_logo {
            width: 50px;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}
