@import '../../sass/main.scss';

.nav {
    @include flex(row, center, center);
    &_list {
        list-style: none;
        @include flex(row, space-between, center);
    }
}

a {
    text-decoration: none;
    color: black;
}
