@import '../../sass/main.scss';

.main {
    position: relative;
    top: 100px;
}

.realisations {
    @include flex(row, space-evenly, center);
    &_logo {
        width: 200px;
    }
}

.wordpress {
    width: 75%;
    margin: 0 auto;
    &_text {
        font-size: 24px;
        position: relative;
        top: 30px;
        line-height: 200%;
        &_link {
            font-size: 24px;
            color: $color-primary;
            position: relative;
            top: 40px;
        }
    }
}
