@import '../../sass/main.scss';

.main {
    height: 400px;
    position: relative;
    top: 100px;
}

.realisations {
    @include flex(row, space-evenly, center);
    &_logo {
        width: 200px;
        @media screen and (max-width: 992px) {
            width: 100px;
        }
        @media screen and (max-width: 500px) {
            width: 75px;
        }
    }
}

.wordpress {
    width: 75%;
    margin: 0 auto;
    &_text {
        font-size: 24px;
        position: relative;
        top: 30px;
        line-height: 200%;
        @media screen and (max-width: 992px) {
            font-size: 20px;
        }
        @media screen and (max-width: 500px) {
            font-size: 18px;
        }
        &_link {
            font-size: 24px;
            @media screen and (max-width: 002px) {
                font-size: 18px;
            }
            text-decoration: underline solid 2px $color-primary;
            color: $color-primary;
            position: relative;
            top: 40px;
        }
    }
}
