.footer {
    display: flex;
    flex-direction: column;
    margin-top:2%;
    background-color: #293E9C;
    height: 150px;
    align-items: center;
    width:95%;
    align-content:center;
    margin-left: 2.5%;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
}

.stack_dev {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin: 0 auto;
    color:white;
}

.logoGit, .logoLinked, .logoArch {
    width: 40px;
}