@import '../../sass/main.scss';

.footer {
    background-color: $color-primary;
    @include flex(row, flex-end, center);
    color: white;
    position: relative;
    //bottom: -360px;
    top: 360px;
    &_text {
        position: relative;
        right: 50px;
    }
}
